PORT=7777
NODE_ENV=development
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_URL>/SafeNestDB?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-development-string-here
JWT_EXPIRES_IN=15m